#Recommendation_block_container{
    background-color: azure;
    border-radius: 1em;
    color:rgb(12, 28, 99);
    font-family:'Noto Sans TC',Arial,sans-serif !important;
}

.Recommendation_block_image{
    width:25rem;
}
.Recommendation_block_image_container{
    box-sizing: border-box;
    text-align: center;
}
.Recommendation_block_title_container{
    box-sizing: border-box;
}
.Recommendation_block_title{
    color:rgb(12, 28, 99);
    font-weight: bold;
}
.Recommendation_block_subtitle{
    color:rgb(12, 28, 99);
    font-weight: bold;
}
.Recommendation_block_work_type{
    color:rgb(94, 94, 94);
}

.Recommendation_block_salary{
    color:red;
    font-weight: bold;
}

.Recommendation_block_spec_div{
    color:rgb(72, 72, 72);
}
#Recommendation_spec_requirement{
    text-decoration: dashed;
}
#Recommendation_requirement_li{
    font-weight: bold;
}
.Recommendation_block_requirement{
    text-align: justify;
    font-size:1.1rem ;
    margin-left: 0;
    list-style: none;
}

@media screen and (min-width: 300px){

    .Recommendation_newline{
        display: block;
    }
    .Recommendation_block_info_div{
        font-size: 0.9rem;
    }

    .Recommendation_block_info_div p{
        margin: 0;
    }
    .Recommendation_block_info_lg{
        display: none;
    }

    .Recommendation_block_info_sm{
        display: block;
    }
    #Recommendation_block_text_lg{
        display: none !important;
    }

    #Recommendation_block_text_sm{
        display: block !important;
        height:20rem;
        padding: 0.7rem;
    }

    .Recommendation_block_image{
        width:10rem;
    }
    .Recommendation_block_requirement{
        text-align: justify;
        font-size:0.7rem !important;
        
    }

    .Recommendation_block_title{
        color:rgb(12, 28, 99);
        font-weight: bold;
        font-size:1.1rem !important;
    }

    .Recommendation_block_subtitle{
        color:rgb(12, 28, 99);
        font-weight: bold;
        font-size:0.9rem !important;
    }

    .Recommendation_block_spec_div{
        color:rgb(72, 72, 72);
        font-size:0.5rem !important;
    }
}
@media screen and (min-width: 350px){
    .Recommendation_block_image{
        width:15rem;
    }

    #Recommendation_block_text_sm{
        display: block !important;
        height:15rem;
    }
    .Recommendation_block_requirement{
        text-align: justify;
        font-size:0.7rem !important;
        
    }

    .Recommendation_block_title{
        color:rgb(12, 28, 99);
        font-weight: bold;
        font-size:1.3rem !important;
    }

    .Recommendation_block_subtitle{
        color:rgb(12, 28, 99);
        font-weight: bold;
        font-size:1.1rem !important;
    }

    .Recommendation_block_spec_div{
        color:rgb(72, 72, 72);
        font-size:0.7rem !important;
    }
}
@media screen and (min-width: 400px){
    .Recommendation_block_image{
        width:25rem;
    }

    #Recommendation_block_text_sm{
        display: block !important;
        height:15rem;
        padding: 0;
    }
    .Recommendation_block_requirement{
        text-align: justify;
        font-size:0.9rem !important;
        
    }

    .Recommendation_block_title{
        color:rgb(12, 28, 99);
        font-weight: bold;
        font-size:1.5rem !important;
    }

    .Recommendation_block_subtitle{
        color:rgb(12, 28, 99);
        font-weight: bold;
        font-size:1.4rem !important;
    }

    .Recommendation_block_spec_div{
        color:rgb(72, 72, 72);
        font-size:0.9rem !important;
    }
}
@media screen and (min-width: 600px){

    .Recommendation_newline{
        display: none;
    }

    .Recommendation_block_info_lg{
        display: block;
    }

    .Recommendation_block_info_sm{
        display: none;
    }

    .Recommendation_block_info_div{
        font-size: 1.2rem;
    }

    #Recommendation_block_text_sm{
        display: block !important;
        height:30rem;
    }
    .Recommendation_block_requirement{
        text-align: justify;
        font-size:1.1rem !important;
        
    }

    .Recommendation_block_title{
        color:rgb(12, 28, 99);
        font-weight: bold;
        font-size:1.5rem !important;
    }

    .Recommendation_block_subtitle{
        color:rgb(12, 28, 99);
        font-weight: bold;
        font-size:1.4rem !important;
    }

    .Recommendation_block_spec_div{
        
        color:rgb(72, 72, 72);
        font-size:1.1rem !important;
    }
}
@media screen and (min-width: 767px){

    #Recommendation_block_text_lg{
        display: block !important;
    }

    #Recommendation_block_text_sm{
        display: none !important;
    }

    .Recommendation_block_requirement{
        
        text-align: justify;
        font-size:1.3rem !important;
    }

    .Recommendation_block_title{
        color:rgb(12, 28, 99);
       
        font-weight: bold;
        
        font-size:1.5rem !important;
    }

    .Recommendation_block_subtitle{
        color:rgb(12, 28, 99);
        
        font-weight: bold;
        
        font-size:1.4rem !important;
    }

    .Recommendation_block_spec_div{
        
        color:rgb(72, 72, 72);
        font-size:1.3rem !important;
    }
}
@media screen and (min-width: 1023px){
    .Recommendation_block_requirement{
        
        text-align: justify;
        font-size:1.2rem !important;
    }

    .Recommendation_block_title{
        color:rgb(12, 28, 99);
        
        font-weight: bold;
        
        font-size:1.3rem !important;
    }

    .Recommendation_block_subtitle{
        color:rgb(12, 28, 99);
        
        font-weight: bold;
        
        font-size:1.2rem !important;
    }

    .Recommendation_block_spec_div{
        
        color:rgb(72, 72, 72);
        font-size:1.2rem !important;
    }
}
@media screen and (min-width: 1200px){
    .Recommendation_block_info_lg{
        display: none;
    }

    .Recommendation_block_info_sm{
        display: block;
    }

    .Recommendation_block_requirement{
        
        text-align: justify;
        font-size:1rem !important;
    }

    .Recommendation_block_title{
        color:rgb(12, 28, 99);
        
        font-weight: bold;
        
    }

    .Recommendation_block_subtitle{
        color:rgb(12, 28, 99);
        
        font-weight: bold;
        
    }

    .Recommendation_block_spec_div{
        
        color:rgb(72, 72, 72);
    }
}
@media screen and (min-width: 1400px){
    
    .Recommendation_block_requirement{
        
        text-align: justify;
        font-size:1.1rem !important;
    }

    .Recommendation_block_title{
        color:rgb(12, 28, 99);
        
        font-weight: bold;
        
    }

    .Recommendation_block_subtitle{
        color:rgb(12, 28, 99);
        
        font-weight: bold;
        
    }

    .Recommendation_block_spec_div{
        
        color:rgb(72, 72, 72);
    }
}

@media screen and (min-width:1600px){
    .Recommendation_block_info_lg{
        display: block;
    }

    .Recommendation_block_info_sm{
        display: none;
    }
}