.containerDragAndDrop {
  padding-left: 10px;
  padding-right: 0px;
}

.loader-in-background-1-4 {
  background-image: url("../../../assets/img/loader-facebook.gif");
  background-repeat: no-repeat;
  background-size: 4% 14%;
  background-position: center;
}

.loader-in-background-1-16 {
  background-image: url("../../../assets/img/loader-facebook.gif");
  background-repeat: no-repeat;
  background-size: 4% 5%;
  background-position: center;
}
