@import url(../component/style/_global.css);

html {

    background-color: var(--primary--bgcolor);

}
#Forget_container{

    flex-direction: column;

    min-height:100vh;

    font-family: var(--primary-font);
    
}

#Forget_left_table{

    color: white;

}

#Forget_input_text{

    margin:0;
    
    font-size: 1.5rem;
    color: white; 

}

#Forget_input_input{

    border-width: 0 0 4px 0;
    border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
    border-image-slice: 1;

    background-color: var(--primary--bgcolor);

    color: white;

}


#Forget_btn_text{

    width:15rem;
    height:4rem;

    border: 2px #fff solid;
    border-radius: 10px;

    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    
    background-color: var(--primary--bgcolor);

    transition-duration: 0.25s;

    cursor: pointer;
    
}
#Forget_btn_text:hover{

    background-color: #fff;

    color: var(--primary--bgcolor);

}

@media screen and (min-width: 300px){
    #Forget_input_text{

        font-size: 0.75rem;

    }
    #Forget_input_input{

        font-size: 0.68rem;

    } 
}
@media screen and (min-width: 350px){
    #Forget_input_text{

        font-size: 0.8rem;

    }
    #Forget_input_input{

        font-size: 0.73rem;
        
    } 
}
@media screen and (min-width: 400px){
    #Forget_input_text{

        font-size: 0.9rem;

    }
    #Forget_input_input{

        font-size: 0.85rem;

    }
}
@media screen and (min-width: 600px){
    #Forget_input_text{

        font-size: 1.5rem;

    }
    #Forget_input_input{

        font-size: 1.4rem;

    }
}
@media screen and (min-width: 767px){
    #Forget_input_text{

        font-size: 1.5rem;

    }

    #Forget_input_input{

        font-size: 1.4rem;

    }
}
@media screen and (min-width: 1023px){
    #Forget_input_text{

        font-size: 1.67rem;

    }
    #Forget_input_input{

        font-size: 1.6rem;

    }
}
@media screen and (min-width: 1500px){
    #Forget_input_text{

        font-size: 1.77rem;

    }
    #Forget_input_input{

        font-size: 1.7rem;
        
    }
}
