@import url(../component/style/_global.css);

.History_member_entity{

    margin-top: 5rem;

    text-align: center;

}

#History_container{
    
    font-family:var(--primary-font) !important;

}

#History_content{

    font-size: 24px;
    color:white;
    
}
#History_title_hr{

    width:100%;

    border-bottom: 2px solid gray;

    font-size: 48px;
    
}
#History_member{

    display: inline-block;

    font-size: 1.4rem;

}

