@import url(../component/style/_global.css);

:focus{
    outline:0;
}

.Login_input{

    border-width:0 0 4px 0;
    border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
    border-image-slice: 1;
    
    background-color: var(--primary-bgcolor);;
    
    color:white;

}

.btnFacebook { 

    width: 3rem;
    height: 3rem;

    border:0px transparent; 
    border-radius: 50%;
    padding-top: 1rem; 
    
    background: #3b5998;

    font-size: 1rem;
    color:white;
    text-align: center;
    
}

.btnFacebook:hover {

    background: #3b5998;

    cursor:pointer;

}


#Login_container{

    display:flex;
    flex-direction: column;
    
    min-height:100vh;

    font-family:var(--primary-font);
    
}
#Login_input{
    
    max-width: 40rem;

    color:white;
    
}


#Login_links{
    
    max-width: 45rem;

}


#Login_submit{

    width:10rem;

    border: 2px #fff solid;
    border-radius: 10px;

    background-color:  var(--primary-bgcolor);;
    
    font-weight: bold;
    color: #fff;

    cursor: pointer;
    
}
#Login_submit:hover{

    background-color: #fff;

    font-weight: bold;
    color: var(--primary-bgcolor);;
    
    transition-property: background-color, color;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4.0,0.2,1),cubic-bezier(0.4.0,0.2,1);
    
}

#Login_create{

    color:white;
    text-decoration: none;

}
#Login_create:hover{

    color:rgb(106, 255, 198);
    text-decoration: none;

}

#Login_forgot{

    color:white;
    text-decoration: none;

}

#Login_forgot:hover{

    color:rgb(48, 232, 255);
    text-decoration: none;

}

#Login_hr{

    border-bottom: 1px solid gray;

    font-weight: 100;
    color:gray;
    text-align: center;

}


@media screen and (min-width: 300px){
    #Login_input{
        font-size: 1.0rem;
    }
    #Login_hr{
        font-size: 10px;
    }
    #Login_links{
        font-size: 0.5rem;
    }
}
@media screen and (min-width: 350px){
}
@media screen and (min-width: 400px){
    #Login_input{
        font-size: 1.2rem;
    }
    #Login_hr{
        font-size: 12px;
    }
    #Login_links{
        font-size: 0.8rem;
    }
}
@media screen and (min-width: 600px){
    #Login_input{
        font-size: 1.5rem;
    }
    #Login_hr{
        font-size: 18px;
    }
    #Login_links{
        font-size: 1rem;
    }
}
@media screen and (min-width: 767px){
    #Login_input{
        font-size: 25px;
    }
    #Login_hr{
        font-size: 25px;
    }
    #Login_username_input{
        font-size: 25px;
    }
    #Login_password_input{
        font-size: 25px;
    }
    #Login_submit{
        font-size: 30px;
    }
    #Login_links{
        font-size: 18px;
    }
}
@media screen and (min-width: 1023px){
    #Login_input{
        font-size: 30px;
    }
    #Login_hr{
        font-size: 30px;
    }
    #Login_username_input{
        font-size: 30px;
    }
    #Login_password_input{
        font-size: 30px;
    }
    #Login_submit{
        font-size: 36px;
    }
    #Login_links{
        font-size: 20px;
    }
}
@media screen and (min-width: 1500px){
    #Login_input{
        font-size: 25px;
    }
    #Login_hr{
        font-size: 25px;
    }
    #Login_username_input{
        font-size: 25px;
    }
    #Login_password_input{
        font-size: 25px;
    }
    #Login_submit{
        font-size: 30px;
    }
    #Login_links{
        font-size: 18px;
    }
}