@import url(../component/style/_global.css);

#Register_container{
    
    width:100%;
    min-height: 100vh;

    font-family:var(--primary-font);

}
#Register_text{

    text-align: center;
    color: white;

}
#Register_register_table{

    color: white;

}
#Register_btn{

    margin:0;
    border: 2px rgb(106, 87, 87) solid;
    border-radius: 10px;

    background-color:  #003f67;
    
    font-weight: bold;
    color: #fff;
    text-decoration: none;

    cursor: pointer;
    
}
#Register_btn:hover{
    
    background-color: #fff;

    font-weight: bold;
    color: #003f67;
    
    transition-property: background-color, color;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4.0,0.2,1),cubic-bezier(0.4.0,0.2,1);
    
    
}

@media screen and (min-width: 300px){
    #Register_imgs{
        max-width:7rem;
    }
    #Register_text{
        font-size: 0.8rem;
    }
}
@media screen and (min-width: 350px){
    #Register_imgs{
        max-width:8.3rem;
    }
    #Register_text{
        font-size: 1.0rem;
    }
}
@media screen and (min-width: 400px){
    #Register_imgs{
        max-width:10rem;
    }
    #Register_text{
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 600px){
    #Register_imgs{
        max-width:10rem;
    }
    #Register_text{
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 767px){
    #Register_imgs{
        max-width:15rem;
    }
    #Register_text{
        font-size: 2.0rem;
    }
}
@media screen and (min-width: 1023px){
    #Register_imgs{
        max-width:20rem;
    }
    #Register_text{
        font-size: 2.4rem;
    }
}
@media screen and (min-width: 1500px){
    #Register_imgs{
        max-width:20rem;
    }
    #Register_text{
        font-size: 2.4rem;
    }
}