html {
    background-color: #003F67;
}
#Forget_container{
    font-family: 'Noto Sans TC',Arial,sans-serif;
    flex-direction: column;
    min-height:100vh;
}

#Forget_left_table{
    color: white;
}

#Forget_input_text{
    margin:0;
    color: white; 
    /* text-align: center; */
    font-size: 1.5rem;
}
#Forget_input_input{
    color: white;
    background-color: #003F67;
    border-width: 0 0 4px 0;
    -o-border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
       border-image: -webkit-gradient(linear, left top, right top, from(rgb(106, 255, 198)), to(rgb(48, 232, 255)));
       border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
    border-image-slice: 1;
}


#Forget_btn_text{
    width:15rem;
    height:4rem;
    font-size: 1.5rem;
    border-radius: 10px;

    cursor: pointer;
    background-color: #003F67;
    color: #fff;
    border: 2px #fff solid;
    font-weight: bold;
    transition-duration: 0.25s;
}
#Forget_btn_text:hover{
    background-color: #fff;
    color: #003F67;
    
    
}

/* #Forget_FAQ{
    
}
#Forget_FAQ_title{
    color: gray;
    margin-top: 10%;
    text-align: center;
    font-size: 24px;
}
#Forget_FAQ_splitline{
    width: 95%;
    border-width: 0 0 2px 0 ;
    border-style: solid ;
    border-color: gray;
    border-radius: 1px;
}
#Forget_FAQ_list{
    list-style-type: none;
} */
@media screen and (min-width: 300px){
    #Forget_input_text{
        font-size: 0.75rem;
        /* color: red; */
    }
    #Forget_input_input{
        font-size: 0.68rem;
    } 
}
@media screen and (min-width: 350px){
    #Forget_input_text{
        font-size: 0.8rem;
        /* color: orange; */
    }
    #Forget_input_input{
        font-size: 0.73rem;
    } 
}
@media screen and (min-width: 400px){
    #Forget_input_text{
        font-size: 0.9rem;
        /* color: yellow; */
    }
    #Forget_input_input{
        font-size: 0.85rem;
    }
}
@media screen and (min-width: 600px){
    #Forget_input_text{
        font-size: 1.5rem;
        /* color: lightgreen; */
    }
    #Forget_input_input{
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 767px){
    #Forget_input_text{
        font-size: 1.5rem;
        /* color: lightblue; */
    }
    #Forget_input_input{
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 1023px){
    #Forget_input_text{
        font-size: 1.67rem;
        /* color: pink; */
    }
    #Forget_input_input{
        font-size: 1.6rem;
    }
}
@media screen and (min-width: 1500px){
    #Forget_input_text{
        font-size: 1.77rem;
        /* color: purple; */
    }
    #Forget_input_input{
        font-size: 1.7rem;
    }
}
