.about-img {
  width: 100%;
}

.overview {
  margin-top: 8%;
  margin-bottom: 24px;
}

.overview h1 {
  font: Bold 40px Arial;
  letter-spacing: 0px;
  color: #354b5e;
  opacity: 1;
  margin-bottom: 24px;
}

.overview h1 span {
  width: 4px;
  height: 28px;
  background: #e65642;
  display: inline-block;
  border-radius: 4px;
}

.overview div {
  margin-bottom: 40px;
}

.overview div p {
  text-align: left;
  font-size: 20px;
  letter-spacing: 0px;
  color: #5e5e5e;
  text-align: justify;
}

.team_grid {
  padding: 40px;
}

.team_grid h3 {
  text-align: center;
  font: Bold 28px Arial;
  letter-spacing: 0px;
  color: #354b5e;
  opacity: 1;
}

.team_grid p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  letter-spacing: 0px;
  color: #5e5e5e;
  text-align: justify;
}

.description {
  margin-bottom: 120px;
}

.team_grid img {
  width: 80%;
}

@media only screen and (max-width: 768px) {
  .overview h1 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 0;
  }

  .overview h1 span {
    height: 22px;
  }

  .team_grid {
    padding: 15px;
  }

  .overview div p {
    font-size: 16px;
  }

  .team_grid h3 {
    font-size: 24px;
  }

  .team_grid p {
    font-size: 14px;
  }
}

@media (max-width: 475px) {
  .overview h1 {
    font-size: 24px;
  }
  .overview div p {
    font-size: 14px;
  }
  .overview h1 span {
    height: 18px;
  }
}
