.career_img{
	transition-property: transform;
	transform: scale(1);
	transition-duration: 0.5s;
}
.career_img:hover{
	transform: scale(1.05);
	animation-name: wobble;
	animation-duration: 1s;
	animation-iteration-count: 1;
}
@keyframes wobble{
	0%{
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(-10deg);
	}
	75%{
		transform: rotate(10deg);
	}
	100%{
		transform: rotate(0deg);
	}
}
@media screen and (min-height: 432px){
	.career_link_imgs{
		height: 80%;
	}
}

@media screen and (min-height: 576px){
	.career_link_imgs{
		height: 80%;
	}
}

@media screen and (min-height: 800px){
	.career_link_imgs{
		height: 80%;
	}
}

@media screen and (min-width: 767px) and (min-height: 432px){
    .career_link_imgs{
		margin-top: calc(50vh - 18rem);
		height: initial;
	}
}
@media screen and (min-width: 1023px) and (min-height: 576px){
    .career_link_imgs{
		margin-top: calc(50vh - 22rem );
		height: initial;
	}
}
@media screen and (min-width: 1500px) and (min-height: 800px){
    .career_link_imgs{
		margin-top: calc(50vh - 22rem);
		height: initial;
	}
}