@media screen and (min-width: 300px){
    #LC_refresh_icon{
        height:1.5rem;
        width: 1.5rem;
    }

}
@media screen and (min-width: 350px){
    
}
@media screen and (min-width: 400px){
    
}
@media screen and (min-width: 600px){
    
}
@media screen and (min-width: 767px){
    
}
@media screen and (min-width: 1023px){
    
}
@media screen and (min-width: 1500px){
    
}

#LC_containers{
    /* display: inline-block;
    margin-top: 5vh;
    margin-left: 1vw; */
    font-family:'Noto Sans TC',Arial,sans-serif;
    color:white;
    /* font-size: 20px; */
}
#LC_hr{
    font-weight: 200;
    /* font-size:30px; */
    font-style: italic;
    /* margin-left: 0vw; */
    /*text-align: right;*/
    /* margin-bottom: 2%;
    margin-top: 10vh; */
    border-bottom: 2px gray solid;
    width: 90%;
    /* width:45vw; */
}
#LC_refresh_btn{
    font-family:'Noto Sans TC',Arial,sans-serif;
    padding: 0;
    background-color: inherit;
    /*background-color:  #003f67;*/
    color: #fff;
    border: 2px #fff solid;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    /* height: 2.5vw;
    width: 2.5vw; */
}
#LC_refresh_btn:hover{
    /*transition-property: background-color, color;
    transition-timing-function: cubic-bezier(0.4.0,0.2,1),cubic-bezier(0.4.0,0.2,1);
    transition-duration: 250ms, 250ms;
    background-color: #fff;
    color: #003f67;
    font-weight: bold;*/
}
#LC_refresh_icon{
    transform: rotate(0deg);
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.7s;
}
#LC_refresh_icon:hover{
    transform: rotate(360deg);

}
#LC_table{
    /* width: 80%; */
}
#LC_table tr>td:first-child{
    text-align: center;
    /* width:40%; */
}

#LC_table tr>td:last-child{
    /* width: 60%; */
    /*float: right;*/
}

#LC_safe_Question{
    font-family:'Noto Sans TC',Arial,sans-serif;
    color: white;
    /*background-color: #003F67;*/
    background-color: inherit;
    /* font-size : 20px;
    float: right; */
    border-width:0 0 4px 0;
    -o-border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
       border-image: -webkit-gradient(linear, left top, right top, from(rgb(106, 255, 198)), to(rgb(48, 232, 255)));
       border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
    border-image-slice: 1;
    padding: 0;
}
#LC_submit_btn{
    
    /* font-size: 1.5vw;
    width:15vw;
    height: 5vh;
    margin-left: 13.7vw;
    margin-top: 2vh;
    margin-bottom: 10vh; */
    font-family:'Noto Sans TC',Arial,sans-serif;
    background-color: inherit;
    /*background-color:  #003f67;*/
    color: #fff;
    border: 2px #fff solid;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
#LC_submit_btn:hover{
    transition-property: background-color, color;
    transition-timing-function: cubic-bezier(0.4.0,0.2,1),cubic-bezier(0.4.0,0.2,1);
    transition-duration: 250ms, 250ms;
    background-color: #fff;
    color: #003f67;
    font-weight: bold;
}