@media screen and (min-width: 300px){
    #Profile_addImage_icon{
        cursor: pointer;
        font-size: 1rem;
    }

    #Profile_userimage{
        max-height:15rem ;
    }

    #Profile_name{
        height: 6rem;
    }

    .Profile_info_input{
        font-size: 1rem;
        margin-top: 0.3rem;
    }

    .Profile_info_label{
        font-size: 1rem;
        padding: 0.5rem 0 0 0;
    }

    #Profile_shortintro{
        font-size: 1rem;
        width:100%;
        height: 5rem;
    }

    .Profile_expand_icon{
        height:1.5rem;
        width:1.5rem;
    }

    .Profile_remove_icon{
        height:1.5rem;
        width:1.5rem;
    }

    .Profile_info_table_input{
        font-size: 0.9rem;
    }

    .Profile_hr{
        font-size: 1rem;
    }

    .Profile_edit_btn{
        background-color: inherit;
        color: white;
        /* margin-bottom: -1rem; */
    }

    .Profile_edit_icon{
        width:1.5rem;
        margin-top: -0.5rem;
    }

}
@media screen and (min-width: 350px){
    
}
@media screen and (min-width: 400px){
    
}
@media screen and (min-width: 600px){
    
}
@media screen and (min-width: 767px){
    #Profile_addImage_icon{
        cursor: pointer;
        font-size: 1.3rem;
    }

    #Profile_userimage{
        max-height:20rem ;
    }

    #Profile_name{
        height: 6rem;
    }

    .Profile_info_input{
        font-size: 1.3rem;
        margin-top: 0.5rem;
    }

    .Profile_info_label{
        font-size: 1.3rem;
        padding: 0.5rem 0 0 0;
    }

    #Profile_shortintro{
        font-size: 1.3rem;
        width:100%;
        height: 7rem;
    }

    .Profile_expand_icon{
        padding-top: 0.7rem;
        height:2rem;
        width:2rem;
    }

    .Profile_remove_icon{
        height:2rem;
        width:2rem;
    }

    .Profile_info_table_input{
        font-size: 1.1rem;
    }

    #Profile_occupation_container{
        font-size: 1.3rem;
    }

    .Profile_hr{
        font-size: 1.3rem;
    }
}
@media screen and (min-width: 1023px){
    
}
@media screen and (min-width: 1500px){
    
}

.Profile_info_input{
    color:white !important;
    font-family:'Noto Sans TC',Arial,sans-serif;
    background-color: inherit !important;
    border-width:0 0 4px 0;
    -o-border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
    border-image: -webkit-gradient(linear, left top, right top, from(rgb(106, 255, 198)), to(rgb(48, 232, 255)));
    border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
    border-image-slice: 1;
    
}

.Profile_info_input:focus{
    background-color: inherit !important;
}

#Profile_container{
    color: white;
    font-family:'Noto Sans TC',Arial,sans-serif !important;
}
#hr0{
    font-family:'Noto Sans TC',Arial,sans-serif !important;
    font-weight: 200;
    font-style: italic;
    border-bottom: 2px gray solid;
}

/* #Profile_public{
    position: absolute;
    right:0;
    top:-5vh;
    /* top:-5%;
    right: -5%; 
    color:gray;
    font-family:'Noto Sans TC',Arial,sans-serif;
    font-weight: 100;
} */
#Profile_userimage{
    max-width:90%;
    max-height:20rem ;
    overflow: hidden;
    border: 2px black solid;
}

#Profile_addImage_icon:hover{
    color:rgb(48, 232, 255);
}

#Profile_info{
    display: block;
}

#Profile_shortintro{
    font-family:'Noto Sans TC',Arial,sans-serif;
    color: white;
    background-color: inherit;
    border-width: 2.5px ;
    border-style:dashed ;
    border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
    border-image-slice: 1;
}
#hr1{
    color:gray;
    font-weight: 100;
    border-bottom: 1px solid gray;
    width: 90%;
    
}

#hr2{
    /* font-size: 18px; */
    color:gray;
    font-weight: 100;
    border-bottom: 1px solid gray;
    width: 100%;
}
#Profile_expand_phone{
    display: none;
    opacity: 0;
}

#Profile_expand_social_media{
    display: none;
    opacity: 0;

}

.Profile_diploma_checkbox{
    position: absolute;
    right: 0;
}
#Profile_expand_diploma{
    display: none;
    opacity: 0;
}

.Profile_expand_button{
    background-color: inherit;
    border: 0;
    cursor: pointer;
}


#hr4{
    display: block;
    /* font-size: 18px; */
    color:gray;
    font-weight: 100;
    border-bottom: 1px solid gray;
}

#hr41{
    display: block;
    /* font-size: 18px; */
    color:gray;
    font-weight: 100;
    border-bottom: 1px solid gray;
}

#Profile_addOccupation{
    background-color: inherit;
    border: 0;
}
#Profile_removeOccupation{
    background-color: inherit;
    border: 0;
}

#Profile_submit_btn{
    background-color: inherit;
    color: #fff;
    border: 2px #fff solid;
    font-weight: bold;
    cursor: pointer;
}

#Profile_submit_btn:hover{
    transition-property: background-color, color;
    transition-timing-function: cubic-bezier(0.4.0,0.2,1),cubic-bezier(0.4.0,0.2,1);
    transition-duration: 250ms, 250ms;
    background-color: #fff;
    color: #003f67;
    font-weight: bold;
}

