* {
font-family: consolas;
}
.load-container {
display: flex;
flex-direction: column;
margin:0;
}
.load-header {
display: flex;
height: 50px;
align-items: center;
}
.load-header-content {
    font-size: x-large;
    background-color: #3C4B64;
    flex-grow: 1;
}
.load-content {
    display: flex;
    height:45px;
    margin: 3px 5px;
    font-size: x-large;
    background-color: #000103;
    color:white;
}
.load-content:hover {
   background-color:#1a1f29
}
.load-content-children {
    display: flex;
    margin: 3px 5px;
    padding:0px 15px;
    flex-grow: 1;
    align-items: center;

}
.load-content-children + .load-content-children {
    margin-left: 10%;
}