.column_content{
    font-family: 'Noto Sans TC',Arial,sans-serif !important;
    background-image:linear-gradient(150deg,#93D5FF,white) ;
    margin-top: 15vh;
    width:90vw;
    margin-left: 5vw;
    border-radius: 1vw;
}

#column_content_space{
    padding:15vh 10vw;
}