.column_sections_bigtitle{
    font-size: 24px;
    font-weight: bold;
    color:#191970;
    line-height: 60px;
}

.column_minor_title{
    padding-left:20px;
    font-size:20px;
    font-weight: bold;
    color:#3D59AB;
    line-height: 50px;
}

.column_minor_content{
    padding-left:50px;
    font-size:20px;
    text-align: justify;
    line-height: 35px;
    letter-spacing:1.5px;
    white-space: pre-line;
}
