.Recommendation{
	/* width:90%; */
	/* margin:10vh auto 0; */
	height: 85vh;
	/* background-color: rgba(0,0,0,0.2); */
}
.Recommendation_container {
	/* position : relative; */
	/* margin-top : 7%; */
	/* display: inline-block; */
	box-sizing: border-box;
	vertical-align: top;
	/* flex-wrap: wrap; */
	/* padding: 30px; */
	/* justify-content: space-evenly; */
	/* width:50%; */
	margin:0 auto;
}
.Recommendation_wrapper{
	/* display: inline-block; */
	/* width: 80%; */
	margin:0 auto;
	vertical-align: top;
}
.Recommendation_block{
	margin-top:0;
	vertical-align: top;
}
