.driver-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: gray;
    margin: 0px 3px;
    padding:0;
    color: white;
}
.driver-div__content {
    display: inline-flex;
    background-color:cadetblue;
    margin: 1px 3px;
    padding:3px 5px;
    color: white;
    min-width: 100px;
    padding-right: 150px;
}
.driver-load-div {
    align-items: stretch;
    margin: 3px 5px;
    background-color: cadetblue;
    color:white;
    padding: 0px 50px;
    margin-top:0px
}
