.driver-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #d8d9da;

    margin: 0px 3px;
    padding:0;
    color: white;
}
.driver-div__content {
    display: inline-flex;
    background-color: #F5F6F8;
    margin:1px 3px;
    padding: 3px 5px;
    color: rgb(127, 127, 134);
    min-width: 100px;
    padding-right: 150px;
    font-size: large;
    font-weight: 700;
}
.driver-div__content:hover {
    background-color: #dddada;;
}
.driver-div__content span{
  padding:0px 0px;
  width:200px;
}
.driver-load-div {
    align-items: stretch;
    margin: 0px 5px;
    background-color: #F5F6F8;
    color: rgb(127, 127, 134);
    padding: 0px 50px;
    margin-top:0px
}
.driver-load-div:hover {
  background-color: #d8d4da;
}

