$lightgrey: #3a4149;
$darkgrey: #23282c;
$lightblue: #286090;

.grid {
  display: inline-flex;           /* 1 */
  flex-flow: row wrap;
}

.up, .down {
  flex: 0 0 100%;                 /* 2 */
  text-align: center;             /* 2 */
  margin-bottom: 1.2em;
  margin-top: 1.2em;
}

.left, .right {
  flex: 1 0 1%;                   /* 3 */
  display: flex;
}

.left  {
  justify-content: flex-end;
  margin-right: 1.2em;
}
.right {
  justify-content: flex-start;
  margin-left: 1.2em;
}

.btn-transformation {
  color: #fff !important;
  background-color: rgb(68, 77, 88) !important;
  border-color: #2e6da4 !important;
  font-size: x-small !important;
  width: 34px;
}
.btn-transformation:focus, .btn-transformation.focus {
  color: #fff;
  background-color: $lightblue;
  border-color: #122b40; }
.btn-transformation:hover {
  color: #fff;
  background-color: $lightblue;
  border-color: rgb(68, 77, 88); }
.btn-transformation:active, .btn-transformation.active,
.open > .btn-transformation.dropdown-toggle {
  color: #fff;
  background-color: $lightblue;
  border-color: rgb(68, 77, 88); }
.btn-transformation:active:hover, .btn-transformation:active:focus, .btn-transformation:active.focus, .btn-transformation.active:hover, .btn-transformation.active:focus, .btn-transformation.active.focus,
.open > .btn-transformation.dropdown-toggle:hover,
.open > .btn-transformation.dropdown-toggle:focus,
.open > .btn-transformation.dropdown-toggle.focus {
  color: #fff;
  background-color: rgb(68, 77, 88);
  border-color: #122b40; }
.btn-transformation:active, .btn-transformation.active,
.open > .btn-transformation.dropdown-toggle {
  background-image: none; }
.btn-transformation.disabled:hover, .btn-transformation.disabled:focus, .btn-transformation.disabled.focus, .btn-transformation[disabled]:hover, .btn-transformation[disabled]:focus, .btn-transformation[disabled].focus,
fieldset[disabled] .btn-transformation:hover,
fieldset[disabled] .btn-transformation:focus,
fieldset[disabled] .btn-transformation.focus {
  background-color: #337ab7;
  border-color: #2e6da4; }
.btn-transformation .badge {
  color: #337ab7;
  background-color: #fff; }

.modal-body {
  height: 800px;
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 1200px;
  }
}


//// checkmarks
#checkmarkreport {
  width: 75px;
  display: block;
  margin: 40px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  &.circle {
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s ease-in-out;
  }
  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards;
  }
  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards;
  }
}

.success {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em;
  color: #73AF55;
}


@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

//progress bar lock editor

.progressbar {
  text-align:center;
  counter-reset: step;
}

.progressbar li {
  margin-top: 20px;
  list-style-type: none;
  width: 25%;
  //float: left;
  display:inline-block;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
  -webkit-filter: blur(0.2px);
}
.progressbar li:before {
  width: 40px;
  height: 40px;
  content: counter(step);
  counter-increment: step;
  line-height: 40px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: $lightgrey;
  -webkit-filter: blur(0.2px);
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -43%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: $lightblue !important;
  font-weight: bold;
}
.progressbar li.active:before {
  border: 4px solid $lightblue;
  line-height: 33px;
}
.progressbar li.active + li:after {
  background-color: #7d7d7d !important;
}
