#cy {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../../assets/img/loader-facebook.gif");
  background-repeat: no-repeat;
  background-size: 3% 10%;
  background-position: center;
}

#cy2 {
  background-image: url("../../../assets/img/loader-facebook.gif");
  background-repeat: no-repeat;
  background-size: 3% 15%;
  background-position: center;

  #last_findings_table {
    overflow-x:auto;
    width:100%;
    padding: 0;
  }

  th {
    border:none;
    font-size: 1.2em;
  }

  td {
    border:none;
    padding: 0.7% 0px 0.7% 0.35%;
  }

  .prop-1 {color: #63768D;}
  .prop-2 {color: #63768D;}
  .prop-3 {color: #63768D;}
  .prop-4 {color: #63768D;}
}

#cy3 {
  overflow:hidden;
  height: auto;
  width: auto;
  background-image: url("../../../assets/img/loader-facebook.gif");
  background-repeat: no-repeat;
  background-size: 4% 18%;
  background-position: center;
}

#cy4 {
  background-image: url("../../../assets/img/loader-facebook.gif");
  background-repeat: no-repeat;
  background-size: 4% 14%;
  background-position: center;
}

#cy5 {
  background-image: url("../../../assets/img/loader-facebook.gif");
  background-repeat: no-repeat;
  background-size: 4% 14%;
  background-position: center;
}

@media screen and (max-width: 1920px) and (max-height: 1200px) {
  .zoom-left-position {
    transform: scale(0.8, 0.8);
    transform-origin: top left;
  }

  #last_findings_table {
    td {
      font-size: 0.9em !important;
      padding: 0.9% 0 0.9% 1.1% !important;
    }
    th{
      font-size: 1.1em !important;
    }
  }

  .zoom-right-position {
    transform: scale(1, 1);
    transform-origin: top right;
  }

  .header-1 {
    font-size: 1em !important;
    padding: 10px !important;
  }
}

@media screen and (max-width: 1680px) and (max-height: 1050px) {
  .zoom-left-position {
    transform: scale(0.7, 0.7);
    transform-origin: top left;
  }

  #last_findings_table {
    td {
      font-size: 0.9em !important;
      padding: 0.7% 0px 0.7% 0.35% !important;
    }
    th{
      font-size: 1.1em !important;
    }
  }

  .header-1 {
    font-size: 1.2em !important;
    padding: 13px !important;
  }
}

@media screen and (max-width: 1280px) and (max-height: 720px) {
  .zoom-left-position  {
    transform: scale(0.5, 0.5);
    transform-origin: top left;
  }

  .zoom-right-position {
    transform: scale(0.50, 0.50);
    transform-origin: top right;
  }

  #last_findings_table {
    td {
      font-size: 0.6em !important;
      padding: 0.8% 0 0.8% 0.6% !important;
    }
    th{
      font-size: 0.8em !important;
    }
    tbody{
      margin-left:10px;
    }
  }

  .header-1 {
    font-size: 0.9em !important;
    padding: 10px !important;
  }

  // only for small resolution
  #graph_settings {
    width:20% !important;
  }

  #auto_refresh_settings{
    width:46% !important;
  }

  #legend_settings{
    width:34% !important;
  }
}

// blink
.blink {
  -webkit-animation: blink 1.5s linear infinite;
  -moz-animation: blink 1.5s linear infinite;
  -ms-animation: blink 1.5s linear infinite;
  -o-animation: blink 1.5s linear infinite;
  animation: blink 1.5s linear infinite;
}
@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}
@-moz-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}
@-o-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}


