/* .RecruBlock {
  background-color: azure;
  border-radius: 3%;
  font-size: 4rem;
  box-shadow: aqua 0px 5px 15px;
  width: 95%;
  margin: 2% 0% 4% 2%;
}
.eesa {
  background-color: azure;
  width: 90%;
  padding: 0;
}
.widgetbrand {
  background-color: azure;
  border: 0px;
  border-radius: 5%;
}
.card-header {
  padding: 0%;
  border-radius: 5% !important;
}
.recrucontent {
  padding: 0% 3% 5% 3%;
}
.fw-semibold {
  font-size: 1.9rem !important;
  margin-top: 5%;
}
hr {
  margin-top: 0;
}
.recrucontent > button {
  font-size: 1vw;
  color: blue;
  border: none;
  background: none;
}
.add {
  padding: 2%;
  margin: 1% 1%;
  border-radius: 2rem;
  border: dashed;
  border-width: 2%;
  border-color: azure;
  font-size: 7rem;
  color: azure;
  font-weight: 600;
}
.add:hover {
  background-color: azure;
  color: var(--primary_bgcolor);
}
.avatar {
  margin-left: 1%;
}
.avatar:hover {
  cursor: pointer;
} */
