.Footer_main{
    font-family: 'Noto Sans TC',Arial,sans-serif;
    color :white;
    background-color:#002958;

    position: relative;
    bottom:0;
    width:100%;
    display:flex;
    flex-direction: column;
    
}
/* .Footer_row{
    margin:0,auto;
} */
.icon_img{
    
    max-width: 200px;
    min-width: 100px;
    
}

.footer_list{
    color: white;
    list-style-type: none;
    font-size: 17px;
    line-height: 30px;
    
}

#footer_col_sm{
    margin:0,auto;
    font-size: 8px;
    color :gray;
    text-align: center;
}
.footer_copy{
    background-color:#001936;
    min-height: 30px;
}