#recruitment_block_requirement{
    font-size : 15px;
    font-weight: bold;
    list-style-type: square;
}
.Recruitment_block_requirement{
    font-size : 12px;
    list-style-type: none;
    margin-left : 1.8em;
}