
#Recruitment_block_container{
    background-color: azure;
    border-radius: 1em;
    color:rgb(12, 28, 99);
    font-family:'Noto Sans TC',Arial,sans-serif !important;
}

.Recruitment_block_image{
    width:25rem;
}
.Recruitment_block_image_container{
    box-sizing: border-box;
    text-align: center;
}
.Recruitment_block_title_container{
    box-sizing: border-box;
}
.Recruitment_block_title{
    color:rgb(12, 28, 99);
    font-weight: bold;
}
.Recruitment_block_subtitle{
    color:rgb(12, 28, 99);
    font-weight: bold;
}
.Recruitment_block_work_type{
    color:rgb(94, 94, 94);
}

.Recruitment_block_info{
    font-size: 16px;
}

.Recruitment_block_salary{
    color:red;
    font-weight: bold;
}

.Recruitment_block_spec_div{
    color:rgb(72, 72, 72);
}
#Recruitment_spec_requirement{
    text-decoration: dashed;
}
#Recruitment_requirement_li{
    font-weight: bold;
}
.Recruitment_block_requirement{
    text-align: justify;
    font-size:1.1rem ;
    margin-left: 0;
    list-style: none;
}

@media screen and (min-width: 300px){
    #Recruitment_block_text_lg{
        display: none !important;
    }

    #Recruitment_block_text_sm{
        display: block !important;
        height:20rem;
        padding: 0.5rem;
    }

    .Recruitment_block_image{
        width:12.5rem;
    }
    .Recruitment_block_requirement{
        text-align: justify;
        font-size:0.5rem !important;
        
    }

    .Recruitment_block_title{
        color:rgb(12, 28, 99);
        font-weight: bold;
        font-size:1.1rem !important;
    }

    .Recruitment_block_subtitle{
        color:rgb(12, 28, 99);
        font-weight: bold;
        font-size:0.9rem !important;
    }

    .Recruitment_block_spec_div{
        color:rgb(72, 72, 72);
        font-size:0.5rem !important;
    }
}
@media screen and (min-width: 350px){
    .Recruitment_block_image{
        width:15rem;
    }

    #Recruitment_block_text_sm{
        display: block !important;
        height:20rem;
    }
    .Recruitment_block_requirement{
        text-align: justify;
        font-size:0.7rem !important;
        
    }

    .Recruitment_block_title{
        color:rgb(12, 28, 99);
        font-weight: bold;
        font-size:1.3rem !important;
    }

    .Recruitment_block_subtitle{
        color:rgb(12, 28, 99);
        font-weight: bold;
        font-size:1.1rem !important;
    }

    .Recruitment_block_spec_div{
        color:rgb(72, 72, 72);
        font-size:0.7rem !important;
    }
}
@media screen and (min-width: 400px){
    .Recruitment_block_image{
        width:25rem;
    }

    #Recruitment_block_text_sm{
        display: block !important;
        height:20rem;
        padding: 0;
    }
    .Recruitment_block_requirement{
        text-align: justify;
        font-size:0.9rem !important;
        
    }

    .Recruitment_block_title{
        color:rgb(12, 28, 99);
        font-weight: bold;
        font-size:1.5rem !important;
    }

    .Recruitment_block_subtitle{
        color:rgb(12, 28, 99);
        font-weight: bold;
        font-size:1.4rem !important;
    }

    .Recruitment_block_spec_div{
        color:rgb(72, 72, 72);
        font-size:0.9rem !important;
    }
}
@media screen and (min-width: 600px){
    #Recruitment_block_text_sm{
        display: block !important;
        height:30rem;
    }
    .Recruitment_block_requirement{
        text-align: justify;
        font-size:1.1rem !important;
        
    }

    .Recruitment_block_title{
        color:rgb(12, 28, 99);
        font-weight: bold;
        font-size:1.5rem !important;
    }

    .Recruitment_block_subtitle{
        color:rgb(12, 28, 99);
        font-weight: bold;
        font-size:1.4rem !important;
    }

    .Recruitment_block_spec_div{
        
        color:rgb(72, 72, 72);
        font-size:1.1rem !important;
    }
}
@media screen and (min-width: 767px){

    #Recruitment_block_text_lg{
        display: block !important;
    }

    #Recruitment_block_text_sm{
        display: none !important;
    }

    .Recruitment_block_requirement{
        
        text-align: justify;
        font-size:1.3rem !important;
    }

    .Recruitment_block_title{
        color:rgb(12, 28, 99);
       
        font-weight: bold;
        
        font-size:1.5rem !important;
    }

    .Recruitment_block_subtitle{
        color:rgb(12, 28, 99);
        
        font-weight: bold;
        
        font-size:1.4rem !important;
    }

    .Recruitment_block_spec_div{
        
        color:rgb(72, 72, 72);
        font-size:1.3rem !important;
    }
}
@media screen and (min-width: 1023px){
    .Recruitment_block_requirement{
        
        text-align: justify;
        font-size:1.2rem !important;
    }

    .Recruitment_block_title{
        color:rgb(12, 28, 99);
        
        font-weight: bold;
        
        font-size:1.3rem !important;
    }

    .Recruitment_block_subtitle{
        color:rgb(12, 28, 99);
        
        font-weight: bold;
        
        font-size:1.2rem !important;
    }

    .Recruitment_block_spec_div{
        
        color:rgb(72, 72, 72);
        font-size:1.2rem !important;
    }
}
@media screen and (min-width: 1200px){
    .Recruitment_block_requirement{
        
        text-align: justify;
        font-size:1rem !important;
    }

    .Recruitment_block_title{
        color:rgb(12, 28, 99);
        
        font-weight: bold;
        
    }

    .Recruitment_block_subtitle{
        color:rgb(12, 28, 99);
        
        font-weight: bold;
        
    }

    .Recruitment_block_spec_div{
        
        color:rgb(72, 72, 72);
    }
}
@media screen and (min-width: 1400px){
    .Recruitment_block_requirement{
        
        text-align: justify;
        font-size:1rem !important;
    }

    .Recruitment_block_title{
        color:rgb(12, 28, 99);
        
        font-weight: bold;
        
    }

    .Recruitment_block_subtitle{
        color:rgb(12, 28, 99);
        
        font-weight: bold;
        
    }

    .Recruitment_block_spec_div{
        
        color:rgb(72, 72, 72);
    }
}