* {
    margin:0;
    padding: 0;
}
body {
    box-sizing: border-box;
    
}
.store-div{
border:1px solid grey;
}
.store-div__content {
border:1px solid white;
background-color: cadetblue;
color: white;
width:100px;
padding: 2px 3px;
}
