* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
 
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container {
    position: relative;
    background-color: rgb(225, 230, 230);
    margin-left:2px;
}
.store-div {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    margin-top: 3px;
    flex-wrap: wrap;
   
}
.driver-div {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    margin-top: 3px;
   
}
