* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
 
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container {
    position: relative;
    background-color: rgb(225, 230, 230);
    margin-left:2px;
}
.store-driver-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    position:absolute;
    align-items: stretch;
    margin-right: 5px;
    margin-top: 0px;
   
}
