* {
    margin:0;
}

body {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    background-color: #d8d9da;

}
.store-container {
    display:flex;
    flex-direction: row;
    background-color: #0574e2;
    padding: 3px 5px;
    margin:0;
}
.store-container-content {
    display: flex;
    flex-direction: column;
    width:100px;
    height: 150px;
    background-color: #3C4B64;
    font-size: x-large;
    padding:3px 5px;
    margin: 3px;
    text-align: center;
}
#store-number{
    color:white;
    padding:2px 3px;
    margin: 5px 5px;
}











