// Here you can add other styles
.btnFacebook {
  width: 3rem;
  height: 3rem;

  border: 0px transparent;
  border-radius: 50%;
  padding-top: 1rem;

  background: #3b5998;

  font-size: 1rem;
  color: white;
  text-align: center;
}
