.app-header {
  height: 100px !important;
  border: 0px !important;
}

body {
  background-color: white !important;
  font-size: 0.85rem !important;
}

.app__dropdown {
  background: white !important;
  color: #73818f !important;
  border: 0px !important;
  font-size: 0.85rem !important;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  border: 0px !important;
  box-shadow: none !important;
}

.sidebar__custom {
  background: white;
  // border-right: 1px solid #c8ced3;

  // border-top: 1px solid #c8ced3;
  border-top-right-radius: 10px;
  box-shadow: inset -3.5px 3px 2px 1px rgba(180, 170, 170, 0.15);
  color: #73818f !important;
}

.nav-link {
  color: #73818f !important;
  padding: 5px 15px !important;
  font-size: 0.75e;
}

.nav-link:active {
  background: #c5242e !important ;
  border-radius: 25px !important;
}
.active__header {
  background: #c5242e !important;
  padding: 5px 15px !important;
  border-radius: 25px !important;
  display: block;
  color: #fff !important;
  text-decoration: none;
  background: transparent;
}

.app-body {
  flex-direction: column !important;
}
.carousel__height {
  height: 500px !important;
}

.post__image__style {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.digital__image__style {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

@media (max-width: 991.98px) {
  .logo__height {
    height: 30px !important;
  }
  .app-body {
    margin-top: 5px !important;
  }
  .active__header {
    background: #c5242e !important;
    padding: 5px 15px !important;
    border-radius: 0px !important;
    color: white !important;
  }
  .carousel__height {
    height: 100% !important;
  }
  .post__image__style {
    height: 175px !important;
  }
}

.post__style {
  border-radius: 10px;
  margin: 30px;
  -webkit-box-shadow: 0px 2px 4px 3px rgba(128, 128, 128, 0.3);
  -moz-box-shadow: 0px 2px 4px 3px rgba(128, 128, 128, 0.3);
  box-shadow: 0px 2px 4px 3px rgba(128, 128, 128, 0.3);
}

.post__center {
  text-align: center;
  padding: 10px;
  font-weight: bolder !important;
}

.primary__button {
  background: #c5242e !important;
  color: white !important;
  padding: 10px 70px !important;
  border-radius: 35px !important;
}

.primary__block__button {
  border: 2px solid #c5242e !important;
  color: #6c757d !important;
  padding: 10px 70px !important;
  border-radius: 35px !important;
}

.primary__block__button:hover {
  background: #c5242e !important;
  color: white !important;
  border-radius: 35px !important;
}

.secondary__block__button {
  border: 2px solid white !important;
  background: white !important;
  color: #73818f !important;
  padding: 10px 70px !important;
  border-radius: 35px !important;
}

.secondary__block__button:hover {
  border: 2px solid white !important;
  background: white !important;
  color: #73818f !important;
  padding: 10px 70px !important;
  border-radius: 35px !important;
}
.form__style {
  background: #c5242e !important;
}
