// Here you can add other styles
.dropzone {
    width: 100%;
    height: 184px;
    // border: 1px solid red;
    background: #c4c4c4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.my-btn {
    padding: .5rem 1rem;
    background: #1EAAB2;
border-radius: 5px;
color: #fff;
min-width: 120px;
border: none;
}
.my-paginate-container {
    color: #fff;
    width: 500px;
    margin: 0;
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content:center;
}
.my-paginate-container li {
    padding: 0 .5em;
}
.my-paginate-container li a {
    text-decoration: none;
    color: #fff;
}
.activePage {
    background: #1EAAB2;
    border-radius: 50%;
}
.pageLinkClassName {
    // font-size: 12px;
}
svg {
    display: inline-block;
    vertical-align: middle;
  }