// If you want to override variables do it here
@import "light/variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// Some temp fixes
@import "light/fixes";

// If you want to add something do it here
@import "light/custom";
