#Profile_for_search_container{
    background-color: rgba(0,0,0,0.8);
    margin-top: 18.5vh;
    width:100%;
    /*margin-top:10%;*/
    color: white;
    font-family:'Noto Sans TC',Arial,sans-serif !important;
}
#hr0{
    font-family:'Noto Sans TC',Arial,sans-serif !important;
    width:90%;
    font-weight: 200;
    font-size:30px;
    font-style: italic;
    margin-left: 1%;
    margin-top: -4%;
    margin-bottom: 0;
    border-bottom: 2px gray solid;
}

#Profile_for_search_public{
    position: absolute;
    right:0;
    top:-5vh;
    /* top:-5%;
    right: -5%; */
    color:gray;
    font-family:'Noto Sans TC',Arial,sans-serif;
    font-weight: 100;
}
#Profile_for_search_information{
    /*float: left;*/
    width: 50vw !important;
    position: relative;
}
#Profile_for_search_userimage_container{
    margin-left:1vw;
    margin-top: 5vh;
    float: left;
    width:20%;
    
}
#Profile_for_search_userimage{
    max-width:100%;
    max-height:30% ;
    overflow: hidden;
    border: 2px black solid;
}
#Profile_for_search_addImage_icon{
    cursor: pointer;
    font-size: 20px;
    width:3vw;
    height: 3vw;
}
#Profile_for_search_addImage_icon:hover{
    color:rgb(48, 232, 255);
    /*text-decoration: underline;*/
}

#Profile_for_search_info{
    display: block;
    margin-right: 0 !important;
    margin-left:15vw;
    height: 20%;
    width: 30vw;
    font-size: 20px;
}
.Profile_for_search_ul{
    list-style: none;
    padding: 0;
}

.Profile_for_search_ul li{
    height: 2vh;
    margin-top: 7vh;
}
#Profile_for_search_realname_tag{
    margin:0;
    float:left;
}
#Profile_for_search_realname_checkbox{
    margin-top: 3%;
    margin-right: -4vw;
    float: right;
}
#Profile_for_search_realname{
    color: white;
    font-family:'Noto Sans TC',Arial,sans-serif;
    /*background-color: #003F67;*/
    background-color: inherit;
    font-size : 20px;
    float:right;
    border-width:0 0 4px 0;
    -o-border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
       border-image: -webkit-gradient(linear, left top, right top, from(rgb(106, 255, 198)), to(rgb(48, 232, 255)));
       border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
    border-image-slice: 1;
    margin-top: 1%;
}

#Profile_for_search_nickname_tag{
    margin:0;
    float: left;
}
#Profile_for_search_nickname_checkbox{
    margin-top: 3%;
    margin-right: -4vw;
    float: right;
}
#Profile_for_search_nickname{
    color:white;
    font-family:'Noto Sans TC',Arial,sans-serif;
    /*background-color: #003F67;*/
    background-color: inherit;
    font-size : 20px;
    float: right;
    border-width:0 0 4px 0;
    -o-border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
       border-image: -webkit-gradient(linear, left top, right top, from(rgb(106, 255, 198)), to(rgb(48, 232, 255)));
       border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
    border-image-slice: 1;
    margin-top: 1%;
}
#Profile_for_search_shortintro{
    font-family:'Noto Sans TC',Arial,sans-serif;
    font-size: 16px;
    clear: both;
    color: white;
    width:100%;
    height: 100px;
    background-color: inherit;
    /*background-color: #003F67;*/
    border-width: 2.5px ;
    border-style:dashed ;
    border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
    border-image-slice: 1;
}
#hr1{
    color:gray;
    font-weight: 100;
    border-bottom: 1px solid gray;
    width: 90%;
    margin-bottom: 0;
    margin-top: 5%;
    margin-left: 1vw;
    
}
#Profile_for_search_more_info{
    width:90%;
    margin-left:1vw;
    font-size: 20px;
}

#Profile_for_search_more_info p {
    margin:0;
    float: left;
}
#Profile_for_search_more_info input:not(#Profile_for_search_submit_btn) {
    font-family:'Noto Sans TC',Arial,sans-serif;
    color: white;
    /*background-color: #003F67;*/
    background-color: inherit;
    font-size : 20px;
    float: right;
    border-width:0 0 4px 0;
    -o-border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
       border-image: -webkit-gradient(linear, left top, right top, from(rgb(106, 255, 198)), to(rgb(48, 232, 255)));
       border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
    border-image-slice: 1;
    padding: 0;
    margin-top:1%;

}
#Profile_for_search_contact_us li:first-child{
    margin-top:0;
}
#Profile_for_search_more_info input[type="checkbox"]{
    margin-right:-6.5%;
    margin-top: 1%;
}
#hr2{
    font-size: 18px;
    color:gray;
    font-weight: 100;
    border-bottom: 1px solid gray;
    width: 100%;
    height: 24px !important;
    margin-top: 2vh;
}
#Profile_for_search_expand_phone{
    display: none;
    opacity: 0;
    /* z-index: -1; */
}
#Profile_for_search_social_media_list li:first-child{
    margin-top: 0;
}
#Profile_for_search_expand_social_media{
    height:10vh !important;
    display: none;
    opacity: 0;
    /* z-index: -1; */
    margin-bottom: 0 !important;
}
#Profile_for_search_diploma_list li:first-child{
    margin-top: 0;
}
#Profile_for_search_diploma_list li{
    position: relative;
}
.Profile_for_search_input_nonfloat{
    margin-left: 2.25vw;
    float: none !important;
    width:15vw !important;
}

.Profile_for_search_diploma_checkbox{
    position: absolute;
    right: 0;
}
#Profile_for_search_expand_diploma{
    display: none;
    opacity: 0;
}
/*#Profile_for_search_diploma_container{
    height:6vh !important;
    margin-bottom: 0 !important;
}
#Profile_for_search_diploma{
    position: relative;
    display: inline-block;
    margin-bottom: 0 !important;
}
.Profile_for_search_diploma_checkbox{
    position: absolute;
    right: 2vw;
    display: none;
}
#Profile_for_search_diploma_choosebox_table{
    display: block;
    padding-bottom: 0;
}
#Profile_for_search_diploma_choosebox_table tr{
    height:8vh;
}
#Profile_for_search_diploma_checkbox_input{

    display: inline;
}
#Profile_for_search_expand_diploma_table td{
    padding: 0 2vh 0 2vh;
}
#Profile_for_search_expand_diploma_table td:first-child{
    padding: 0 2vh 0 0;
}
/*#Profile_for_search_diploma_choosebox_table td{
    margin-bottom: 10% !important; 
}
#Profile_for_search_diploma_major_checkbox{
    margin-left: 2vw;
}
#Profile_for_search_expand_diploma{
    /*width:100%;
    display: none;
    opacity: 0;
    z-index: -1;
#Profile_for_search_diploma_master_input{
    display: inline;
}
}*/

.Profile_for_search_expand_button{
    background-color: inherit;
    /*background-color:  #003f67;*/
    border: 0;
    cursor: pointer;
    /*height:200%;
    width:200%;
    
    color: #fff;
    border: 2px #fff solid;
    border-radius: 10px;
    font-weight: bold;
    */
}
.Profile_for_search_expand_icon{
    height:2vw;
    width:2vw;
}

#Profile_for_search_expand_icon_3{
    margin-bottom: -1vh;
}

#hr4{
    display: block;
    font-size: 18px;
    color:gray;
    font-weight: 100;
    border-bottom: 1px solid gray;
}

#hr3{
    font-size: 18px;
    color:gray;
    font-weight: 100;
    border-bottom: 1px solid gray;
    width: 100%;
    height: 24px !important;
    margin-top: 7vh;
    margin-bottom: 0 !important; 
}
#Profile_for_search_addOccupation{
    margin-top: 1.5vh;
    /*background-color: #003F67;*/
    background-color: inherit;
    border: 0;
    height:2vw;
}
#Profile_for_search_removeOccupation{
    /*background-color: #003F67;*/
    background-color: inherit;
    border: 0;
}
.Profile_for_search_remove_icon{
    height:2vw;
    width:2vw;
}
#Profile_for_search_occupation_container{
    height:30vh !important;
    margin-bottom: 0 !important;
}

#Profile_for_search_occupation_table{
    width:100%;
    
}
#Profile_for_search_occupation_table th{
    text-align: center;
    font-weight: 100;
    font-style: italic;
}
#Profile_for_search_occupation_table input{
    /*width:50%;*/
    width:100%;
    text-align: center;
    float: none;
}
#Profile_for_search_JobID{
    margin-top: 0 !important;
}
#Profile_for_search_submit_btn{
    display: inline-block;
    font-size: 1.5vw;
    border-radius: 10px;
    margin-left: 10vw;
    margin-top: 10vh;
    /* margin-bottom: 5vh; */
    width:15vw;
    height: 6vh;
    /*background-color:  #003f67;*/
    background-color: inherit;
    color: #fff;
    border: 2px #fff solid;
    font-weight: bold;
    cursor: pointer;
}

#Profile_for_search_submit_btn:hover{
    transition-property: background-color, color;
    transition-timing-function: cubic-bezier(0.4.0,0.2,1),cubic-bezier(0.4.0,0.2,1);
    transition-duration: 250ms, 250ms;
    background-color: #fff;
    color: #003f67;
    font-weight: bold;
}


#Profile_for_search_latest_news{
    display: inline-block;
    margin-left: 7%;

}

#Profile_for_search_news_renderer a{
    color : white;
    text-decoration: none;
}

#Profile_for_search_news_renderer a:hover{
    color: #93d5ff;
    text-decoration: underline;
}

@media (max-width:1230px){
    #Profile_for_search_information{
        width: 650px;
    }
    #LC_container{
        width:450px;
        margin-left: 0px;
    }
}
@media (max-width:1110px){
    #LC_container{
        margin-left: 0;
        margin-top: 5vh;
        /*margin-left: auto;*/
        /*width: 700px;*/
    }
    #hr0{
        width:60vw;
    }
    #LC_hr{
        width:60vw;
    }
}
@media (max-width:700px){
    #Home_in_container{
        margin-bottom: -10vh;
    }
    #hr0{
        width:90%;
    }
    #LC_container{
        margin-top: 10vh;
        width: 700px;
    }
    #LC_hr{
        width:90%;
    }
}