$lightgrey: #3a4149;
$darkgrey: #23282c;
$lightblue: #337ab7;


.h55 {
  font-size: 0.95rem;
  font-weight: bold;
  display: block;
}

.code-high {
  padding: 2px 4px;
  font-size: 90%;
  font-weight: 600;
  color: #c7070c;
  background-color: #dfdfdf;
  border-radius: 4px;
}

.frame {
  white-space: nowrap;
  //text-align: center;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  font-size: 1.5rem;

  img {
    background: #3A6F9A;
    vertical-align: middle;
    height: 160px;
    width: 160px;
  }
}

.tab-content {
  padding: 5px;
  font-size: 0.75rem;
  border: 0.09rem solid $darkgrey !important;
  //border-left: 0.09rem solid $darkgrey !important;
  background-color: #343b41 !important;

  .tab-pane {
    padding: 0 !important;
    padding-left: 1rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;

    p {
      text-align: left !important;
      margin: 0;
    }
  }
}

#list-tab-horizontal {
    flex-direction: row;
}

// numbers
span.circle-blue {
  background: transparent;
  border: 3px solid $lightblue;
  border-radius: 2.8em;
  -moz-border-radius: 2.8em;
  -webkit-border-radius: 2.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 2.1rem;
  margin-right: 15px;
  text-align: center;
  width: 2.5rem;
}

//img flex horizontal
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  max-width: 75%;
  padding: 0 4px;
  display: flex;
  justify-content: center;

  .app-depl-active {
    border-bottom: 10px solid #2a2f34;
    transform: scale(1.05);
  }

  span {
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:active {
      border-bottom: 10px solid #2a2f34;
      transform: scale(1.05);
    }

    &:hover {
      border-bottom: 10px solid #2a2f34;
      transform: scale(1.05);
    }
  }

  img {
    display:block;
    margin:auto;
  }
}

.centered {
  display: flex;
  width: 58vw;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.no-data-message {
  text-align: center;
  background-color: #343b41 !important;
  color: red;
  //font-weight: bold;
  font-size: 1.0rem;
  //border: 2px solid red;
}

.light-blue {
  color: $lightblue;
}
