.CareerBlock {
  background-color: azure;
  // border-radius: 3%;
  font-size: 4rem;
  box-shadow: aqua 0px 5px 15px;
  width: 95%;
  margin: 0% 1% 7% 2% !important;
}
.eesa {
  background-color: azure;
  width: 90%;
  padding: 0;
}
.widgetbrand {
  background-color: azure;
  border: 0px;
  border-radius: 5%;
  border: 0.5rem;
}
.card-header {
  padding: 0%;
  border: none;
  background-color: azure;
}
.careercontent {
  padding: 0% 3% 5% 3%;
}
.fw-semibold {
  font-size: 1.9rem !important;
  margin-top: 5%;
  color: black;
}
.careercontent > h3,
.careercontent > h2 {
  font-weight: 600;
}
.CareerBlock > hr {
  margin-top: 0;
}
.careercontent > button {
  font-size: 1vw;
  color: blue;
  border: none;
  background: none;
}
.add {
  padding: 2%;
  margin: 1% 1%;
  border-radius: 2rem;
  border: dashed;
  border-width: 2%;
  border-color: azure;
  font-size: 7rem;
  color: azure;
  font-weight: 600;
}
.add:hover {
  background-color: azure;
  color: var(--primary_bgcolor);
}
.hover-pointer {
  margin-left: 1%;
}
.hover-pointer:hover {
  cursor: pointer;
}
.jodit-toolbar-button_table,
.jodit-toolbar-button_image,
.jodit-toolbar-button_source,
.jodit-toolbar-button_copyformat,
.jodit-toolbar-button_dots,
.jodit-toolbar-button_fullsize {
  display: none !important;
}
.career {
  height: 100%;
  vertical-align: middle;
}
.career_img {
  transition-property: transform;
  transform: scale(1);
  transition-duration: 0.5s;
}
.career_img:hover {
  transform: scale(1.05);
  animation-name: wobble;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.form-add {
  border: dashed;
  border-width: 2%;
  border-color: blue;
  width: 94%;
  background-color: white;
  color: blue;
  padding: 0;
  font-size: 1.4rem;
}
.form-add:hover {
  background-color: blue;
  color: white;
}
@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
