.RecruBlock,
.RecomBlock,
.PreviewBlock {
  background-color: azure;
  border-radius: 3%;
  font-size: 4rem;
  box-shadow: aqua 0px 5px 15px;
  width: 95%;
  margin: 0% 1% 7% 2% !important;
}
.eesa {
  background-color: azure;
  width: 90%;
  padding: 0;
}
.widgetbrand {
  background-color: azure;
  border: 0px;
  border-radius: 5%;
}
.card-header {
  padding: 0%;
  border-radius: 5% !important;
}
.recrucontent,
.recomcontent,
.previewcontent {
  padding: 0% 3% 5% 3%;
}
.fw-semibold {
  font-size: 1.9rem !important;
  margin-top: 5%;
}
.recomcontent > h3,
.RecomBlock > h2 {
  font-weight: 600;
}
.RecruBlock > hr,
.PreviewBlock > hr {
  margin-top: 0;
}
.recrucontent > button,
.recomcontent > button,
.previewcontent > button {
  font-size: 1vw;
  color: blue;
  border: none;
  background: none;
}
.add {
  padding: 2%;
  margin: 1% 1%;
  border-radius: 2rem;
  border: dashed;
  border-width: 2%;
  border-color: azure;
  font-size: 7rem;
  color: azure;
  font-weight: 600;
}
.add:hover {
  background-color: azure;
  color: var(--primary_bgcolor);
}
.hover-pointer {
  margin-left: 1%;
}
.hover-pointer:hover {
  cursor: pointer;
}
.jodit-toolbar-button_table,
.jodit-toolbar-button_image,
.jodit-toolbar-button_source,
.jodit-toolbar-button_copyformat,
.jodit-toolbar-button_dots {
  display: none !important;
}
