// Here you can add other styles

:root {
  --primary_color1: #63e7e7;
  --primary_color2: rgb(106, 255, 198);
  --primary_bgcolor: #003f67;
}

body {
  background-color: var(--primary_bgcolor);
}

.btnFacebook {
  width: 3rem;
  height: 3rem;

  border: 0px transparent;
  border-radius: 50%;
  padding-top: 1rem;

  background: #3b5998;

  font-size: 1rem;
  color: white;
  text-align: center;
}
.nav-link {
  color: black !important;
}
.nav-icon {
  color: var(--primary_bgcolor) !important;
}
.text-color-black {
  color: var(--cui-body-color);
}
