.matching {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%);
  box-sizing: border-box;
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  left: 50%;
  text-align: center;
}
.form-check > label {
  font-size: 1.5rem;
}
.form-check-input {
  margin: 0.5em;
}
.left-part {
  border-left: solid;
}
.matching a {
  font-size: 1.6rem;
}
.matching .active.nav-link {
  font-weight: bold;
  border-top: solid 0.5rem;
  border-top-color: rgb(124, 155, 240) !important;
}
.matching .nav-link:hover {
  border-color: white;
}
.matching .result-block {
  margin: auto;
  background-color: aliceblue;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%);
  box-sizing: border-box;
  background-size: cover;
  font-size: 1.1rem;
}
.aboard-experience button {
  font-size: 1.3rem;
  margin: 2rem 0;
}
.open-matching {
  padding: 3rem;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
  margin: auto;
}
.matching-form {
  width: fit-content;
  margin: 5rem auto;
}
.matching-form .form-check-label {
  font-size: 1.3rem;
}

.match-result-detail {
  text-align: left;
}

.match-result-image {
  width: 24rem;
}
