.auth-register{
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%);
  box-sizing: border-box;
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  left: 50%;
  text-align: center;
}
.auth-register .applicant {
  margin: auto;
  background-color: aliceblue;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%);
  box-sizing: border-box;
  background-size: cover;
  font-size: 1.1rem;
}